<!doctype html>
<html lang="en">
{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        <p>Message: {{msg}}</p>
        <p>Body content</p>
    </div>
    {{>footer}}
</body>

</html>