<!doctype html>
<html lang="en">
{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/images/Pic1.jpg">
        <p>This site is created by Dhiraj Jha. </p>
    </div>
    {{>footer}}
</body>
</html>