<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Pic1.jpg">
        <p>This site is created by Dhiraj Jha. It uses data from mapbox.com and weatherstack.com to present the latest weather information.</p>
    </div>
    {{>footer}}
</body>
</html>