<!doctype html>
<html lang="en">
{{>head}}

<body>
    <div class="main-content">
        {{>header}}
        <p>{{msg}}</p>
        <p>Office Location: Pune</p>
          <p>Contact No.: +91 -77188XXXX </p>
           
           <p>The help information would be updated here so that you can reach out to get right help.</p>
    </div>
    {{>footer}}
</body>

</html>