<!-- Header -->
		
		<div id="header">
			<div class="container">
					
				<!-- Logo -->
					<div id="logo">
					<h2><a href="#">NoJobs</a></h2>
					<!--<a href="#"><img src="images/LOGO.jpg" alt=""></a> -->
					<span class="tag">Growth Redifined</span>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
						<li class="active"><a href="/">Homepage</a></li>
						<li><a href="/about">About Us</a></li>
						<li><a href="#">Employers</a></li>
						<li><a href="/help">Contact Us</a></li>
						</ul>
					</nav>

			</div>
		</div>		